/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
body {
    font-family: 'Poppins', sans-serif;
}
  :root {
    --primary-color: #8995d7; /* Indigo */
    --accent-color: #e91e63;  /* Pink */
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .mat-button {
    background-color: var(--primary-color);
    color: white;
  }
  
  .mat-accent {
    color: var(--accent-color);
  }
  